<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shenzhuxi.readiator" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Readiator</name>
    <description>
        An open source epub reader
    </description>
    <author email="shenzhuxi@gmail.com" href="https://github.com/shenzhuxi/readiator">
        shenzhuxi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon.png" />
    <platform name="android">
        <icon src="res/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="res/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/android/icon-96-xhdpi" density="xhdpi" />
     </platform>
</widget>
