<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shenzhuxi.readiator" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Readiator</name>
    <description>
        An open source epub reader
    </description>
    <author email="shenzhuxi@gmail.com" href="https://github.com/shenzhuxi/readiator">
        shenzhuxi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon.png" />
    <platform name="android">
        <icon src="res/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="res/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/android/icon-96-xhdpi" density="xhdpi" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.shenzhuxi.readiator" android:label="@string/app_name">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="file" />
                    <data android:mimeType="application/epub+zip" />
                    <data android:pathPattern=".*\\.epub" />
                    <data android:host="*" />
                  </intent-filter>
              </activity>
        </config-file>
     </platform>
</widget>
