<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <link rel="stylesheet" href="css/index.css">
        <title>Library</title>
    </head>
    <body ng-controller="LibraryCtrl">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header" ng-cloak>
          <div class="mdl-layout__header-row">
            <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="upload()">
              <i class="material-icons">add_circle</i>
            </button>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout-title">Readiator</span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="refresh()">
              <i class="material-icons">refresh</i>
            </button>
          </div>
        </header>
        <main class="mdl-layout__content">
          <input type="file" multiple="multiple" accept=".epub" name="epub-file" id="epub-file" style="display:none;" epub-files-bind/>
          <input type="search" class="search-input mdl-textfield__input" ng-model="q" placeholder="Search">
          <progress class="" value="{{library.progress}}" max="100" ng-show="library.loading" ng-cloak></progress>
          <div class="mdl-grid book-list" ng-cloak>
            <div class="animate-show mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" ng-if="library.books.length == 0">
              <div class="mdl-card mdl-shadow--2dp">
                <div class="image-wrapper" style="background: url('books/epub30_spec/EPUB/img/epub_logo_color.jpg') left top / cover;">
                  <a ng-href="viewer.html?epub=books/epub30_spec/" target=""></a>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-js-button book-title" ng-href="viewer.html?epub=books/epub30_spec/" target="_blank">EPUB 3.0 Specification</a>
                  <button id="book-action-demo" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="book-action-demo">
                    <li class="mdl-menu__item" ng-click="hide=true;removeBook(book.name);">
                      <a href="#">Delete</a>
                    </li>
                  </ul>
                  <div class="book-author">{{book.author}}</div>
                </div>
              </div>
            </div>
            <div class="animate-show mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" ng-repeat="book in library.books | orderBy:'title' | filter: q" ng-show="!hide">
              <div class="mdl-card mdl-shadow--2dp">
                <div class="image-wrapper" style="background: url('{{book.cover}}') left top / cover;">
                  <a ng-href="{{book.url}}" target=""></a>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-js-button book-title" ng-href="{{book.url}}" target="">{{book.title}}</a>
                  <button id="book-action-{{$index}}" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="book-action-{{$index}}">
                    <!--li class="mdl-menu__item"><a ng-href="{{book.file}}">Download</a></li-->
                    <li class="mdl-menu__item" ng-click="hide=true;removeBook(book.name);">
                      <a href="#">Delete</a>
                    </li>
                  </ul>
                  <div class="book-author">{{book.author}}</div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
        <script src="js/index.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
