<!DOCTYPE html>
<html ng-app="epubViewer">
<head>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <link rel="stylesheet" href="css/viewer.css">
  <title>Viewer</title>
</head>
<body ng-controller="BookCtrl">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header" ng-cloak>
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <span class="mdl-layout-title">{{book.metadata.bookTitle}}</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search" ng-keypress="search($event)"/>
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="prevChapter()" ng-style="{opacity : book.begin ? '0.4' : '1'}" ng-disabled="{{book.begin}}">
            <i class="material-icons">arrow_backward</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="nextChapter()" ng-style="{opacity : book.end ? '0.4' : '1'}" ng-disabled="{{book.end}}">
            <i class="material-icons">arrow_forward</i>
          </button>
          <!--button class="mdl-button mdl-js-button mdl-button--icon" ng-click="" ng-disabled="{{}}">
            <i class="material-icons">bookmark</i>
          </button-->
          <!--button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul-->
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <!--header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">TOC</span>
          </div>
        </header-->
        <span class="mdl-layout-title">TOC</span>
        <div id="book-toc" class="tree">
        </div>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="">
          <iframe name="epubjs-iframe" id="epubjs-iframe" ng-onload ng-src={{book.chapter}} scrolling="yes" frameBorder="none">
          </iframe>
        </div>
      </main>
    </div>
</body>
  <script src="js/viewer.js"></script>
</html>
