progress {
    width: 100%;
}

.book-list ons-list-item, .book-list .list__item{
    width: 320px;
    float: left;
    border: none;
}

img.cover {
    width: 80px;
    box-shadow: 5px 5px 5px #888888;
    margin: 5px;
}

.cover {
    width: 25%;
}

.meta {
    margin-left: 20px;
}

.op {
    display: none;
}

.book-list ons-list-item:hover .op{
    display: block;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    padding: 25px;
    margin: 5px;
    font: 20pt bold;
    color: #bbb;
    height: 400px
}
