@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

progress {
    width: 100%;
}

img.cover {
    width: 100%;
    height: 200px;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    padding: 25px;
    margin: 5px;
    color: #bbb;
    height: 400px
}

.mdl-layout__header-row {
    padding: 0 16px 0 16px;
}

.book-list .mdl-card {
    width: 98%;
    /*height: 250px;*/
    /*overflow: visible;*/
}

.book-list .mdl-cell--3-col{
    margin-bottom: 10px;
}

.book-list .book-title, .book-list .book-author {
    clear: both;
    overflow: hidden;
    /*white-space: nowrap;*/
}

.book-list .mdl-card__actions button {
    position: absolute;
    right: 8px;
}

.book-list .image-wrapper {
    display: block;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

.book-list .image-wrapper a{
    display: block;
    width: 100%;
    height: 100%;
}

.mdl-card, .mdl-card__supporting-text{
    overflow: inherit;
    z-index: inherit;
}
