<!DOCTYPE html>
<html ng-app="epubLibrary">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <!-- build:css css/index.css -->
        <link rel="stylesheet" href="bower_components/material-design-lite/material.min.css"> 
        <link rel="stylesheet" href="bower_components/angular/angular-csp.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <!-- endbuild -->
        <title>Library</title>
    </head>
    <body ng-controller="LibraryCtrl">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-files-drop>
        <header class="mdl-layout__header" ng-cloak>
          <div class="mdl-layout__header-row">
            <button class="mdl-button mdl-js-button mdl-button--icon" id="tooltip-upload" ng-click="upload()">
              <i class="material-icons">add_circle</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--large" for="tooltip-upload">Add new books</div>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout-title">Readiator</span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-button--icon" id="tooltip-refresh" ng-click="refresh()">
              <i class="material-icons">refresh</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--large" for="tooltip-refresh">Refresh</div>
          </div>
        </header>
        <main class="mdl-layout__content">
          <input type="file" multiple="multiple" accept=".epub" name="epub-file" id="epub-file" style="display:none;" epub-files-bind/>
          <input type="search" class="search-input mdl-textfield__input" ng-model="q" placeholder="Search">
          <progress class="" value="{{library.progress}}" max="100" ng-show="library.loading" ng-cloak></progress>
          <div id="drop_zone" ng-if="library.books.length == 0" ng-cloak>
              <b>Tips</b>
              <div>
                <ul class="mdl-list">
                  <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      Drag and drop EPUB files here to add them
                    </span>
                  </li>
                  <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      (New Feature!) Keyboard shortcuts: N for the next chapter, and P for the previous chapter
                    </span>
                  </li>
                  <!--li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      (New Feature!) Directly import epub files from web links
                      <p>
                      <img height="300px" src="https://lh3.googleusercontent.com/edD3lJbnp9y3_alRVAz4bWZEAdR8W5Xa8T_KaAU0uC7k3tnpaZ3WUH4NHj4S23rzie2qiR7x-w=s640-h400-e365-rw"></img>
                      </p>
                    </span>
                  </li-->
                </ul>
              </div>
          </div>
          <div class="mdl-grid book-list" ng-cloak>
            <div class="animate-show mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" ng-repeat="book in library.books | orderBy:'title' | filter: q" ng-show="!hide">
              <div class="mdl-card mdl-shadow--2dp">
                <div class="image-wrapper" style="background-image: url('{{book.cover}}');">
                  <a ng-href="{{book.url}}" target="_blank">
                    <!--img class="cover" ng-src="{{book.cover}}"></img-->
                  </a>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-js-button book-title" ng-href="{{book.url}}" target="_blank">{{book.title}}</a>
                  <button id="book-action-{{$index}}" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="book-action-{{$index}}">
                    <li class="mdl-menu__item">
                      <a ng-href="http://books.google.com/books?isbn={{book.isbn}}" target="_blank">Google Books</a>
                    </li>
                    <li class="mdl-menu__item"><a ng-href="{{book.file}}">Download</a></li>
                    <li class="mdl-menu__item" ng-click="hide=true;removeBook(book.name);">
                      <a href="#">Delete</a>
                    </li>
                  </ul>
                  <div class="book-author">{{book.author}}</div>
                  <!--a href="#"><i class="material-icons del" ng-click="hide=true;removeBook(book.name);">delete</i></a>
                  <a ng-href="{{book.file}}"><i class="material-icons download">file_download</i></a>
                  <a ng-href="http://books.google.com/books?isbn={{book.isbn}}" target="_blank"><i class="material-icons search">search</i></a-->
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
        <!-- build:js js/index.js -->
        <script src="bower_components/material-design-lite/material.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/filer.js/src/filer.js"></script>
        <script src="bower_components/zip.js/WebContent/zip.js"></script>
        <script src="bower_components/zip.js/WebContent/zip-fs.js"></script>
        <script src="bower_components/zip.js/WebContent/zip-ext.js"></script>
        <script src="bower_components/epub.js/build/epub.js"></script>
        <script src="bower_components/rusha/rusha.js"></script>
        <script src="bower_components/chrome-platform-analytics/google-analytics-bundle.js"></script>
        <script src="js/chrome-index.js"></script>
        <!-- endbuild -->
    </body>
</html>
